.itemBody {
  color: black;
}

.itemContainer {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}
.fullSizeContainer {
  border-bottom: 0;
}

.itemContainer:hover {
  background-color: #fbfbfb;
}

.fullSizeContainer:hover {
  background-color: white;
}

.itemContainer a {
  text-decoration: none;
}

.itemWrapper {
  display: flex;
  flex-direction: row;
}

.itemBody {
  padding-left: 10px;
  flex-basis: 0px;
  flex-grow: 1;
  min-width: 0;
}

.itemContent {
  color: #646464;
  font-size: 15px;
}

.itemContent h1,
h2,
h3,
h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: black;
}

.itemContent h2,
h3,
h4 {
  font-size: 20px;
}

.itemContent > *:last-child {
  margin-bottom: 5px;
}
.itemMetadata {
  font-size: 13px;
  display: flex;
  margin-bottom: 5px;
}
.twitterAvatar {
  width: 50px;
  height: 50px;
  flex-basis: 50px;
  flex-grow: 0;
}
.twitterAvatar img {
  width: 100%;
  border-radius: 25px;
}
.metadataText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.itemHeader {
  font-size: 15px;
}

.itemHeader a {
  text-decoration: none;
  color: #444444;
  font-weight: bold;
}
.itemHeader a:hover {
  text-decoration: underline;
}

.itemTime {
  margin-left: 5px;
}

.itemDateAndPending {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #646464;
  margin-bottom: 5px;
}

.itemPending {
  display: inline-block;
  background-color: #f1f1f1;
  padding: 3px 5px;
  border-radius: 3px;
  color: #424242;
  font-size: 12px;
  margin-left: 5px;
}

.itemContainer img {
  max-width: 100%;
}

.feedContainer h1,
.feedContainer h2,
.feedContainer h3,
.feedContainer h4,
.feedContainer h5,
.feedContainer h6 {
  font-size: 15px;

  color: #646464;
}

.actionContainer {
  margin-bottom: 36px;
}

.headerContainer {
  display: flex;
  border: 1px solid #d7d7d7;
  justify-content: space-between;
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
  margin-bottom: 10px;
}

.headerLeft,
.headerRight {
  display: flex;
}

.headerLeft > *,
.headerInner > *,
.headerSocial > * {
  margin: 0 5px;
}

.headerRight {
  color: #8c8c8c;
}

.headerInner,
.headerLeft,
.headerSocial {
  display: flex;
  padding: 8px;
  align-items: center;
}

.headerAvatar {
  margin-left: 0;
}

.headerUser,
.headerAction {
  font-weight: 500;
}

.headerUser {
  color: #222222;
}

.headerAction {
  color: #8c8c8c;
  text-decoration: underline;
}

.headerAvatar img {
  width: 22px;
  height: 22px;
  border-radius: 11px;
}

.headerActionIcon {
  width: 15px;
  height: 15px;
}

.headerHash {
  text-decoration: underline;
}

.headerSocial {
  border-left: 1px solid #d7d7d7;
}

.bodyContainer {
  padding: 0 8px;
  font-size: 15px;
}

.replyButton {
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
  text-decoration-line: underline;
  color: #57943a;
  display: flex;
}

.replyButtonIcon {
  margin-right: 11px;
}

.replyIcon {
  width: 12px;
  margin-top: -2px;
}

.likeIcon {
  width: 14px;
  height: 12px;
}

.headerCountReply,
.headerCountLike {
  display: flex;
  align-items: center;
}

.headerCountReply {
  margin-left: 4px;
  margin-right: 7px;
}

.headerCountLike {
  margin-left: 7px;
  margin-right: 4px;
}

.headerCountReply img,
.headerCountLike img {
  margin-right: 5px;
}
