.container {
  border: 1px solid #68717a;
  padding: 6px 0;
  display: inline-flex;
  flex-direction: column;
  width: 95px;
}

.option {
  padding: 5px 10px;
  cursor: pointer;
  color: #505050;
  text-align: center;
}
.option:hover {
  color: #000000;
  background-color: #e9e9e9;
}
