.container {
  margin: 24px 0 12px;
}

.snippetContainer {
  margin: 12px 0;
}

.post {
  font-family: "Roboto";
  color: #505050;
  font-size: 15px;
}

.post img {
  max-width: 100%;
}

.post a {
  color: #505050;
  text-decoration: underline;
}

.post a:hover {
  color: black;
}

.post blockquote {
  margin-left: 20px;
  border-left: 1px solid #68717a;
  padding-left: 15px;
  color: #68717a;
}

.post h1 {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 22px;
  color: #222222;
}

.post h2 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 11px;
  color: #222222;
}

.post h2:not(:first-child) {
  margin-top: 36px;
}

.post h3 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 11px;
  color: #222222;
}

.post h3:not(:first-child) {
  margin-top: 32px;
}

.post ol,
.post ul {
  padding-left: 22px;
}

.post code {
  background-color: #efefef;
  color: #505050;
  padding: 2px 3px;
  font-family: "Roboto Mono";
}

.post pre {
  overflow: inherit;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
}

.post pre code {
  width: 100%;
  display: block;
  padding: 15px;
}
