.container {
  margin: 12px 0;
  font-family: "Roboto";
  color: #505050;
}

.container img {
  max-width: 100%;
}

.container > p:empty {
  display: none;
}

.container a {
  color: #505050;
  text-decoration: underline;
}

.container a:hover {
  color: black;
}
