.container {
  margin-top: 85px;
}
.nav {
  font-size: 14px;
  text-transform: uppercase;
  color: #666666;
  margin-bottom: 15px;
  font-weight: bold;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
  padding-right: 10px;
}

.nav li a {
  color: #b1b1b1;
}
.nav li a[aria-current="page"] {
  color: #666666;
}
.loadMoreButtonContainer {
  display: flex;
  margin-bottom: 48px;
}

.loadMoreButtonContainer > * {
  margin: 0 auto;
}

.toggleContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 32px;
}

.spinnerContainer {
  height: 37px;
}
