.buttonContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.counter {
  margin-left: 6px;
}

.optionsContainer {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: white;
  margin-top: -40px;
  margin-left: 16px;
}
