.buttonContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  color: #8c8c8c;
}

.buttonContainer:hover img {
  filter: invert(31%) sepia(1%) saturate(0%) hue-rotate(350deg) brightness(95%)
    contrast(91%);
}

.buttonContainer:hover {
  color: #505050;
}

.counter {
  margin-left: 6px;
}

.optionsContainer {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: white;
  margin-top: -40px;
  margin-left: 16px;
}
