.newPostHeaderContainer,
.newPostHeaderLeft,
.newPostHeaderRight {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.newPostHeaderContainer {
  font-family: "Roboto Mono", monospace;
  color: #8c8c8c;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid #d7d7d7;
  font-size: 13px;
}

.newPostHeaderLeft > *,
.dataGroup > * {
  margin: 0 6px;
}

.newPostHeaderRight {
  color: #626262;
  opacity: 0.5;
}
.dataGroup {
  display: flex;
  margin: 0 6px;
}

.editorControlsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.editorControlsContainer img {
  cursor: pointer;
  margin: 0 10px;
}

.editorControlsContainer .underlineIcon {
  margin-top: 3px;
}

.editorControlsContainer .italicIcon {
  margin-top: -1px;
}

.editorControlsContainer .strikethroughIcon {
  margin-top: 1px;
}

.editorControlsContainer .ulIcon,
.editorControlsContainer .codeIcon {
  margin-top: 1px;
}
