.dropArea {
  padding: 17px 13px;
  border: 1px dashed #68717a;
  margin-bottom: 13px;
  cursor: pointer;
}
.uploadText {
  display: flex;
  margin-bottom: 8px;
}
.uploadButton {
  text-decoration-line: underline;
}
.fileNameExampleText {
  color: rgba(0, 0, 0, 0.6);
}
.uploaderDescription a {
  text-decoration: underline;
}

.dropAreaLink {
  padding: 0;
  vertical-align: unset;
}

.getWalletCopy {
  text-align: center;
  margin-top: 15px;
}
.instructions {
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
}
