.container {
  font-family: "Roboto Mono", monospace;
}

.followersContainer {
  padding: 0 12px;
}

.listItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
  min-height: 30px;
}

.iconAndName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.username {
  margin-left: 13px;
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}

.iconAndName:hover .username {
  opacity: 0.5;
}
