.container {
  width: 607px;
  background: #ffffff;
  border: 1px solid #68717a;
  font-size: 15px;
  font-family: "Roboto Mono", monospace;
}

.heading {
  font-weight: 500;
  color: #222222;
  margin-bottom: 8px;
}

.inputContainer:first-of-type {
  margin-bottom: 24px;
}

.inputHeading {
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 4px;
}

.top,
.middle {
  border-bottom: 1px solid #68717a;
  padding: 18px;
}

.middle {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.userAddress {
  color: #68717a;
}

.userInfo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.addressAndButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: -3px;
}

.bottom {
  font-size: 13px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 12px 18px;
}

.uploadKeyfile {
  text-decoration-line: underline;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.finishSetup {
  text-decoration-line: underline;

  color: #57943a;
  cursor: pointer;
}

.top ol {
  margin-top: 8px;
}

.middle input {
  height: 36px;
  width: 325px;
  background: #fafafa;
  border: 1px solid #d7d7d7;
  font-size: 13px;
  color: #8c8c8c;
  padding: 0 10px;
}

.middle input:focus {
  outline: none;
}

.middle input[placeholder="yourname"] {
  font-size: 15px;
  color: #5d5c5c;
}

.middle input[placeholder="yourname"]::placeholder {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.25);
}

.twitterInput {
  display: flex;
  flex-direction: row;
}

.atPrefix {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 11px;
  background: #fafafa;
  border-top: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  color: #68717a;
}

.twitterProofContainer {
  display: flex;
  flex-direction: row;
}

.txData {
  font-size: 12px;
}

.dataRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;
}

.dataKey {
  font-weight: bold;
  width: 75px;
  color: rgba(98, 98, 98, 0.7);
}

.dataValue,
.dataTags {
  width: 405px;
}

.dataTags > * {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.loadingIndicator {
  font-weight: bold;
  font-size: 13px;
  color: #626262;
  height: 182px;
  line-height: 200px;
  text-align: center;
}
