.container {
  margin-bottom: 15px;
}
.continueEditingButton {
  margin-right: 15px;
}
.previewPost {
  margin-bottom: 20px;
}
.buttonContainer {
  justify-content: flex-end;
  display: flex;
}

.previewContainer img {
  width: 100%;
}

.previewWarning {
  margin-top: 15px;
  color: red;
}
