.container {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footerContainer {
  background: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footerContentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #dedede;
  padding-top: 12px;
  padding-bottom: 50px;
  max-width: 738px;
  margin: 0 auto;
}

.container > *:last-child {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.editor {
  margin-top: 24px;
  padding: 0 8px;
  padding-bottom: 132px;
  height: 100%;
}
